<!-- 把 video-center 送過來的 selectedVideo 顯示出來 -->
<!-- {{ video.title }} {{ video.url }} {{ video.description }} -->
<div>
    <form>
        <!-- <div class="form-group">
            <input type="input" class="form-control" name="title" required placeholder="title" [(ngModel)]="video.title">
        </div>
        <div class="form-group">
            <input type="input" class="form-control" name="url" required placeholder="url" [(ngModel)]="video.url">
        </div> -->
        <div class="form-group">
            <textarea rows="5" class="form-control" name="desc" [(ngModel)]="video.description">
            </textarea>
        </div>
    </form>
</div>